.voteOptionWrapper {
  @apply w-fit mt-[2rem];

  label {
    @apply flex items-center cursor-pointer h-[3.3rem];

    input {
      @apply cursor-pointer mr-[.5rem];
    }

    p {
      @apply select-none;
    }
  }

  &:hover {
    @apply text-[var(--clr-main)] font-medium;
  }
}
