@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

:root {
  --max-w: 1440px;
  --radius: 12px;
  --clr-main: #2b0c4b;
  --clr-accent: #55bbe2;
  --clr-dark: #00be87;
  --clr-light: #2b0c4b;
  --clr-font-main: #2b0f47;
  --clr-font-normal: #131628;
  --clr-font-light: #5f5f5f;
  --clr-field-border: #d9d9d9;
  --font: inter, ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
}

@layer base {
  .container {
    @apply max-w-[var(--max-w)];
  }
}

@layer components {
}
